Repository NiketanMhatre/mobileapp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @toggl/random-mobile-dev, @toggl/random-ios-dev, @toggl/random-android-dev

.github/CODEOWNERS:

* @toggl/random-mobile-dev

/Toggl.iOS* @toggl/random-ios-dev

/Toggl.Droid* @toggl/random-android-dev

/Toggl.Core.UI* @toggl/random-ios-dev @toggl/random-android-dev

Apply Daivid suggestions
  Toggl.Shared/Resources.pt-BR.resx
Owners: @toggl/random-mobile-dev

:bug: Check for null access in CalendarFragment:ScrollToStart
  Toggl.Droid/Fragments/CalendarFragment.cs
Owners: @toggl/random-android-dev

:memo: Apply more Daivid suggestions
  Toggl.Shared/Resources.pt-BR.resx
Owners: @toggl/random-mobile-dev

:bug: Initialize slices with an empty collection by default
  Toggl.Droid/Views/DonutChart/DonutChartView.cs
Owners: @toggl/random-android-dev

:construction: Do not handle touch events when not needed
  Toggl.Droid/Views/DonutChart/DonutChartView.cs
Owners: @toggl/random-android-dev

:globe_with_meridians: Target all portuguese types
  Toggl.Droid/Resources/values-pt/strings.xml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Shared/Resources.pt.resx
  Toggl.Shared/Toggl.Shared.csproj
Owners: @toggl/random-android-dev, @toggl/random-mobile-dev

:construction: Manually load vms and navigate in the not logged in vms
  Toggl.Droid/Startup/SplashScreen.cs
Owners: @toggl/random-android-dev

:construction: Use the splash screen as the initial theme for the onboarding screen
  Toggl.Droid/Activities/OnboardingActivity.cs
Owners: @toggl/random-android-dev
